t<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-edit-plist-file"
    version="0.0.1">
    
    <name>Edit Plist file</name>
    
    <description>
        A cordova "plugin" that helps you indicate the modifications on the iOS's *-info.plist file.
        So it avoids you to directly edit the *-info.plist file.
        For example it is used to whitelist some schemes for ios9.
        This plugin was initially created to avoid iOS 9 problems that prevent opening other apps from your own app because some used plugins aren't updated to take into consideration the new specification for iOS 9.
    </description>

    <author>Haythem OUEDERNI - haythem@nirbyapp.com </author>

    <keywords>cordova,whitelist,ios9,ecosystem:cordova,ordova-ios</keywords>
    
    <license>MIT</license>
    
    <engines>
        <!-- Requires > 3.3.* because of the custom Framework tag for iOS [CB-5238] -->
        <!-- Requires > 3.5.0 because of the custom Framework tag for Android [CB-6698] -->
        <engine name="cordova" version=">=3.5.0" />
    </engines>
    
    
    
    <!-- ios -->
    <platform name="ios">
        
        
      <config-file target="*-Info.plist" parent="NSContactsUsageDescription">
         <string>Used to call and store phone numbers of shops & restaurants on the app</string>
      </config-file>
        
        
      <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
         <string>need camera access to take pictures</string>
      </config-file>

        
      <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
         <string>need to photo library access to get pictures from there</string>
      </config-file>
        
        
      <config-file target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
         <string>need to photo library access to save pictures there</string>
      </config-file>
        
        
      <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
         <string>need location access to find things nearby</string>
      </config-file>        
 
        
        
      <config-file target="*.entitlements" parent="aps-environment">
         <string>production</string>
      </config-file>  

    </platform>
    
</plugin>
